body{background-image:url("../img/love.jpg")}
h1{color:white;
text-align:center;
}
#im1{float:left:;overflow:hidden;
padding-left:20px;
border-style:groove;
border-width:5px;
padding-left:0px;
margin-left:15px;}

#im3{float:right;
padding-right:20px;
border-style:groove;
border-width:5px;padding-right:0px;
margin-right:15px}

#im2{float:center;overflow:hidden;
margin-left:200px;
position:relative;
bottom:20px;
border-style:groove;
border-width:5px;}

#im4{float:center;overflow:hidden;
margin-left:200px;
position:relative;
bottom:0px;
top:50px;
left:260px;
border-style:groove;
border-width:5px;
height:100%}
.courses{margin-left:1050px;
margin-top:50px;
border-style:ridge;
position:relative;
bottom:500px;
margin-right:25px;
background-image:url("../img/border.jpg")
}
.personaldetail{margin-left:500px;
border-style:ridge;
position:relative;
top:60px;
left:70px;
background-image:url("../img/border.jpg");
border-width:5px;
width:250px;
}

.academic{width:300px;
border-style:ridge;
position:relative;
bottom:235px;margin-left:20px;
background-image:url("../img/border.jpg")}

ul#menu li{display:inline}

body{	border-style:groove;
border-width:15px;}

h1{font-size:50px}

#reference li{display:inline}
.refer{border-style:ridge;
position:relative;
background-image:url("../img/border.jpg");
position:relative;
bottom:350px;
height:200px}

#base1{background-image:url("../img/daz.jpg");}
#base2{background-image:url("../img/apple.jpg");}

