<!doctype html>
<html>
	<head>
	     <title>INTEGRATION</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/assignment.css">
	</head>
	
	
	<body background="../static/img/math2.jpg">
	 <header>
    <nav>
      <ul class="nav">
        <li><a href="index.html" class="icon home"><span>Home</span></a></li>
        <li class="dropdown">
          <a href="/index">Home</a>
        
        </li>
        <li class="dropdown">
          <a href="#">Plot &amp; Integrate</a>
          
        </li>
        <li class="active"><a href="/hul">Arithmetic</a></li>
     
      </ul>
    </nav>
  </header>
  
	
				<div class="wrap">
			<h1 id="justint">JUST INTEGRATE</h1>
			<div class ="content">
				<h2>"Plot the graph+integrate"</h2>
				<p> Please fill in the required information</p>
					<div class="form1">
			<form action="#" method="POST">
			<ul>
				<li>
				<label for="func">Enter function</label>
				<input id="func "type="text" name="func"/>
				</li>
				<li>
				<label for="llimit">Enter lower limit</label>
				<input id="llimit "type="text" name="llimit"/>
				</li>
				<li>
				<label for="ulimit">Enter upper limit</label>
				<input id="ulimit"type="text" name="ulimit"/>
				</li>
				<li>
				<label for="div">Enter number of divisions</label>
				<input id="div"type="text" name="div"/>
				</li>
				<li><input type="submit" value="GRAPH" id="button"></li>
				
				<li><h3>simpsons <br>area:{{simarea}}</h3></li><br>
				<li><h3>Trapezoidal area:{{traparea}}</h3><li>
	
	
	
	</ul>
	
	</form>
			</div>
			</div>
			<aside>
				<h2>SIMPSONS PLOT</h2>
				
				<ul>
				
								<div class="images">
	<li><img src="../static/img/dev.png" height="300" width="300" class="intimage"></li>
	
	<br>
	<h2>TRAPEZOIDAL PLOT</h2>
	<li><img src="../static/img/noo.png" height="300" width="300" class="intimage"></li>
	
	</div>
					</ul>
			</aside>
	<footer>
	My WEBPAGE
	</footer>
	
	
	
	
	</div>
	</body>
</html>