<!DOCTYPE html>
<html>
<head>
<title>"home page"</title>

<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/homecss.css">
</head>
<body>
 <header>
    <nav>
      <ul class="nav">
        <li><a href="index.html" class="icon home"><span>Home</span></a></li>
        <li class="dropdown">
          <a href="#">Home</a>
          <ul>
           
        </li>
        <li class="dropdown">
          <a href="/gul">plot &amp; Integrate</a>
          
        </li>
        <li class="active"><a href="#">ITS-W1</a></li>
        <li><a href="/hul">Arithmetic &amp; oper.</a></li>
      </ul>
    </nav>
  </header>
  
  
<div class="wrap">
<h1>INDEX</h1>
<br>
<br>
<form method="POST">
		<div>
	 
        <h1><a href="/gul">INTEGRATION</a></h1>
		<a href="/gul"><img src="../static/img/integration.jpg" id="inte"></a>
		</div>
		<br>
		<br>
		<br>
	
	<div>
		<h1><a href="/hul">AVERAGE OF NUMBERS</a></h1>
		<a href="/hul"><img src="../static/img/arith.jpg" id="arith" height="250px"></a>
    </div>

	
</form>
</div>
</body>


</body>
</html>