.three{float:right;
width:300px%;
margin-right:20px;
width:300px;
background-image:url("../img/purplesatin.jpg");
height:80%;
border-style:ridge;
border-width:5px;
margin-top:35px}

.one{float:left;
width:300px%
margin-left:20px;
width:300px;background-image:url("../img/purplesatin.jpg");
height:80%;
border-style:ridge;
border-width:5px;
margin-top:35px}

.two{margin-left:200px;
width:300px;background-image:url("../img/purplesatin.jpg");
height:80%;
border-style:ridge;
border-width:5px;
margin-top:35px}

.wrap.container_12{width:100%}

body{background-image:url("../img/tie.jpg")}

h1{color:white;
margin-left:500px;
font-family:ThreeDFace;
font-size:50px;
margin-top:20px
}


.name{font-family:algerian;
font-size:30px;
color:white;
padding-left:35px;
margin-top:40px;}

img{padding-left:10px;
padding-right:10px;
padding-top:25px;
border-style:ridge;
border-width:5px;}

a{color:white;}