{% extends "base.html"%}

{% block personal %}
<h3>NAME:SURYA PRADEEP</h3></li>
<li><h3>DEPT:CSE</h3></li>
<li><h3>ROLL:14075035</h3></li>
<li><h3>SECTION:BA1</h3></li>
{% endblock %}

{% block  academic %}
<h2>ACADEMIC DETAILS</h2>
<li><h3>VIGNAN BO TREE SCHOOL</h3></li>
<li><h3>HIGH SCHOOL:9.8CGPA</h3></li>
<li><h3>HIGHER SECONDARY:90.2%</h3></li>
<li><h3>JEE RANK:3864</h3></li>
{% endblock %}

{% block  referenece %}
<li><h3>ADDRESS:HIMYATNAGAR,HYDERABAD,AP</h3></li>
<li><h3>CONTACT:8019681074</h3></li>
<li><h3>EMAIL:suryampradeep@gmail.com</h3></li>
{% endblock %}

{% block body %}
<body id="base1">
{% endblock %}
