{% extends "base.html"%}

{% block personal %}
<h3>NAME:PRANSHU KUMAR</h3></li>
<li><h3>DEPT:CSE</h3></li>
<li><h3>ROLL:14074010</h3></li>
<li><h3>SECTION:BA1</h3></li>
{% endblock %}

{% block  academic %}
<h2>ACADEMIC DETAILS</h2>
<li><h3>St. XAVIER'S SCHOOL</h3></li>
<li><h3>HIGH SCHOOL:8.8CGPA</h3></li>
<li><h3>HIGHER SECONDARY:83.2%</h3></li>
<li><h3>JEE RANK:54(pd)</h3></li>
{% endblock %}

{% block  referenece %}
<li><h3>ADDRESS:SIWAN,BIHAR</h3></li>

<li><h3>CONTACT:9695705798</h3></li>
<li><h3>EMAIL:pranshu.kumar.cse14@iitbhu.ac.in</h3></li>
{% endblock %}

{% block body %}
<body id="base2">
{% endblock %}