<html>
<head>
<title>
personal info</title>
<link rel="stylesheet" href="css/reset.css">
			<link rel="stylesheet" href="../static/css/960_12_col.css">
			<link rel="stylesheet" href="../static/css/text.css">
			
			<link rel="stylesheet" href="../static/css/style.css">
			<link rel="stylesheet" href="../static/css/personal.css">
</head>
<body>
<div class="wrap container_12 ">
	<header>
    <nav>
      <ul class="nav">
        <li><a href="index.html" class="icon home"><span>Home</span></a></li>
        <li class="dropdown">
          <a href="#">Home</a>
       
        </li>
        <li class="dropdown">
          <a href="/base">Devesh</a>
        
        </li>
        <li class="dropdown"><a href="/base1">Pradeep</a></li>
		
		<li class="dropdown"><a href="/base2">Pranshu</a></li>
     
      </ul>
    </nav>
	
  </header>
  <h1>STUDENT'S INFO</h1>
<section class="one grid_4" >
<h2 class="name"><a href="/base">DEVESH MANJHI</a></h2>
<h2 class="name">CONTACT:</h2>
<h2 class="name">7052379480</h2>

</section>

<section class="two grid_4" >
<h2 class="name"><a href="/base1">PRADEEP</a></h2>
<h2 class="name">CONTACT:</h2>
<h2 class="name">8019681074</h2>
</section>
<section class="three grid_4" >
<h2 class="name"><a href="/base2">PRANSHU KUMAR</a></h2>
<h2 class="name">CONTACT:</h2>
<h2 class="name">9695705798</h2>
</section>
<div>

</body>
</head>
</html>